<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarModelAttrInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.CarModelAttrInfo">
            <id property="modelAttrId" column="model_attr_id" jdbcType="BIGINT"/>
            <result property="modelId" column="model_id" jdbcType="BIGINT"/>
            <result property="goodsCode" column="goods_code" jdbcType="VARCHAR"/>
            <result property="attrValue" column="attr_value" jdbcType="VARCHAR"/>
            <result property="twoPartCode" column="two_part_code" jdbcType="VARCHAR"/>
            <result property="downPrice" column="down_price" jdbcType="DECIMAL"/>
            <result property="salePrice" column="sale_price" jdbcType="DECIMAL"/>
            <result property="colourCode" column="colour_code" jdbcType="VARCHAR"/>
            <result property="thrPartCode" column="thr_part_code" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="previewImg" column="preview_img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        model_attr_id,model_id,goods_code,
        attr_value,two_part_code,down_price,
        sale_price,colour_code,thr_part_code,
        create_by,create_time,update_by,
        update_time,del_flag,preview_img
    </sql>
</mapper>
