<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CategoryClassMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.CategoryClass">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="enterprise_id" column="enterprise_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="picture" column="picture" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="update_by" column="update_by" jdbcType="VARCHAR"/>

        <association property="enterprise" javaType="com.example.entity.Enterprise">
            <id column="enterprise_id" jdbcType="BIGINT" property="id"/>
            <result column="enterprise_name" jdbcType="VARCHAR" property="name"/>
        </association>

    </resultMap>

    <sql id="Base_Column_List">
        id,enterprise_id,name,
        picture,create_time,create_by,
        update_time,update_by
    </sql>
    <select id="search" resultMap="BaseResultMap">
        SELECT
        c.*,e.`name` as enterprise_name
        FROM
        category_class c INNER JOIN enterprise e on c.enterprise_id = e.id
        <where>
            <if test="cate.eid!=null">
                c.enterprise_id = #{cate.eid}
            </if>
            <if test="cate.name!=null and cate.name !=''">
                and c.name like concat('%',#{cate.name},'%')
            </if>
        </where>
        order by c.enterprise_id, c.create_time
    </select>
    <select id="hasRepeat" resultType="com.example.entity.CategoryClass">
        select
        <include refid="Base_Column_List"/>
        from category_class
        where enterprise_id = #{enterprise_id} and name = #{name}
    </select>
</mapper>
