<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LoginMapper">
    <select id="login" resultType="com.example.common.vo.LoginUserVO">
        SELECT employee.id,
               employee.login_name as account,
               employee.login_pwd  as loginPwd,
               employee.`status`,
               employee.avatar,
               '1'                 as loginType,
               '后台管理员'        as name
        FROM employee
        WHERE employee.login_name = #{account}
        UNION ALL
        SELECT enterprise.id,
               enterprise.phone     as account,
               enterprise.login_pwd as loginPwd,
               enterprise.`status`,
               enterprise.album     as avatar,
               '2'                  as loginType,
               enterprise.name      as name

        FROM enterprise
        WHERE enterprise.phone = #{account}
    </select>

</mapper>
