<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.Employee">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <select id="search" resultType="com.example.entity.Employee">
        SELECT
        employee.*
        FROM
        employee
        LEFT JOIN
        record
        ON
        employee.id = record.e_id
        <where>
            <if test="emp.name!=null">
                employee.name like concat('%',#{emp.name},'%')
            </if>
            <if test="emp.hasRoom!=null">
                and record.r_id is null
            </if>
        </where>
        GROUP BY employee.`name`
    </select>
</mapper>
