<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarModelInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.CarModelInfo">
        <id property="model_id" column="model_id" jdbcType="BIGINT"/>
        <result property="brand_code" column="brand_code" jdbcType="VARCHAR"/>
        <result property="train_id" column="train_id" jdbcType="BIGINT"/>
        <result property="model_name" column="model_name" jdbcType="VARCHAR"/>
        <result property="model_img" column="model_img" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="del_flag" column="del_flag" jdbcType="CHAR"/>
        <result property="model_price" column="model_price" jdbcType="DECIMAL"/>
        <result property="model_sub_img" column="model_sub_img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        model_id,brand_code,train_id,
        model_name,model_img,sort,
        status,create_by,create_time,
        update_by,update_time,remark,
        del_flag,model_price,model_sub_img
    </sql>
    <select id="selectall" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_model_info
    </select>
</mapper>
