<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarTrainColourInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.CarTrainColourInfo">
        <id property="train_colour_id" column="train_colour_id" jdbcType="BIGINT"/>
        <result property="train_id" column="train_id" jdbcType="BIGINT"/>
        <result property="colour_name" column="colour_name" jdbcType="VARCHAR"/>
        <result property="colour_code" column="colour_code" jdbcType="VARCHAR"/>
        <result property="colour_img" column="colour_img" jdbcType="VARCHAR"/>
        <result property="colour_sub_img" column="colour_sub_img" jdbcType="VARCHAR"/>
        <result property="colour_price" column="colour_price" jdbcType="DECIMAL"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="del_flag" column="del_flag" jdbcType="CHAR"/>
        <result property="value_code" column="value_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        train_colour_id,train_id,colour_name,
        colour_code,colour_img,colour_sub_img,
        colour_price,sort,create_by,
        create_time,update_by,update_time,
        del_flag,value_code
    </sql>
</mapper>
